P {
	FONT-FAMILY: arial, helvetica, geneva; FONT-SIZE: 10pt
}
TABLE {
	FONT-FAMILY: arial, helvetica, geneva; FONT-SIZE: 10pt
}
TD {
	FONT-FAMILY: arial, helvetica, geneva; FONT-SIZE: 10pt
}
TH {
	FONT-FAMILY: arial, helvetica, geneva; FONT-SIZE: 10pt
}
H2 {
	FONT-FAMILY: arial, helvetica, geneva; FONT-SIZE: 18pt; FONT-WEIGHT: bold; LINE-HEIGHT: 14px
}
CODE {
	FONT-FAMILY: "Courier New", Courier, mono; FONT-SIZE: 10pt
}
SUP {
	FONT-FAMILY: arial,helvetica,geneva; FONT-SIZE: 10px
}
H3 {
	FONT-FAMILY: arial, helvetica, geneva; FONT-SIZE: 14pt; FONT-WEIGHT: bold
}
LI {
	FONT-FAMILY: arial, helvetica, geneva; FONT-SIZE: 10pt
}
H1 {
	FONT-FAMILY: arial, helvetica, geneva; FONT-SIZE: 28px; FONT-WEIGHT: bold
}
BODY {
	FONT-FAMILY: arial, helvetica, geneva; FONT-SIZE: 10pt; MARGIN-LEFT: 3mm; MARGIN-TOP: 5mm
}
.indextop {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: x-large; FONT-WEIGHT: bold
}
.indexsub {
	COLOR: #8080ff; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: xx-small
}
A.bar:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.bar:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.bar:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.bar {
	COLOR: #ffffff
}
